@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(41deg, #0c0b11 0%, #1a173e 100%) !important;
}

.fade-animation {
  animation: fadeIn 0.1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0.2vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
